<div ng-controller="AttendancesController">
    <h2>Attendances</h2>
    <form ng-submit="save()">
        <select ng-model="newItem.userprofile_id" ng-options="u.id as u.name for u in userProfiles"></select>
        <select ng-model="newItem.qr_id" ng-options="q.id as q.qr_code for q in qrs"></select>
        <select ng-model="newItem.class_id" ng-options="c.id as c.name for c in classes"></select>
        <input type="datetime-local" ng-model="newItem.date_time">
        <input type="text" ng-model="newItem.reason" placeholder="Reason">
        <button type="submit">Check-in</button>
    </form>
    <table>
        <tr><th>#</th><th>User</th><th>Class</th><th>DateTime</th><th>Reason</th><th>Action</th></tr>
        <tr ng-repeat="item in items">
            <td>{{$index + 1}}</td>
            <td>{{item.userprofile_id}}</td>
            <td>{{item.class_id}}</td>
            <td>{{item.date_time}}</td>
            <td>{{item.reason}}</td>
            <td><button ng-click="delete(item.id)">Delete</button></td>
        </tr>
    </table>
</div>
